.home-tour-plan {
    width: 100%;
    height: 610px;

    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    background-image: url('./../../assets/homeimg/cover_01.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;

}


.home-tour-plan-div {
    display: flex;
    width: 1200px;
}

.home-tour-plan-div-left {
    padding-top: 100px;
    width: 1000px;
}

.home-tour-plan-div-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-tour-plan-div-left-p1 {
    font-size: 44px;
    font-weight: 500;
    color: var(--primary-blue);
    margin-top: 80px;
    pointer-events: none;
}

.home-tour-plan-div-left-p2 {
    pointer-events: none;
    font-size: 19px;
    font-weight: 450;
    letter-spacing: .5px;
    margin-top: 0px;
    text-align: center;
    color: var(--primary-blue);
}

.home-tour-plan-div-right-btn {
    margin-top: 15px;
    background-color: var(--secondary-blue);
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: 600;
    font-family: Playfair Display;
    border: 2px solid var(--primary-blue);
    transition: .4s;

    &:hover {
        color: var(--primary-blue);
        border: 2px solid var(--primary-white);
        background-color: rgba(255, 255, 255, 0.288);
    }
}